html {
	margin:0;
	padding:0;
	background:#fff;
}
body {
	margin:0;
	padding:0;
	background:#eee;
	font-family:sans-serif;
	color:#333;
	line-height:1.5;
}

.primary-header-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-header-wrapper:before,
.primary-header-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-header {
	position:relative; /* Correctly position account links */
	max-width:980px;
	margin:18px auto;
	font-size:12px;
}
/* Clear floated logo/menu */
.primary-header:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
	clear:both;
}
.primary-nav-account > p {
	text-align:right;
	margin:0;
	padding:0;
}
.primary-nav-account > p > a > img {
	vertical-align:bottom;
}
.primary-logo {
	margin-top:-10px;
	float:left;
}
.primary-logo > img {
	vertical-align:bottom;
}
.primary-logo-name {
	float:left;
	margin-left:18px;
}
.primary-nav {
	position:relative;
	top:38px; /* Position top just below logo name - Logo name height (41px) - 3px */
	margin-top:-1em; /* Move up 1 character to line up bottom with bottom of logo name */
	padding-bottom:1em; /* Make up for the -1em top margin */
	margin-bottom:18px; /* Make sure 18px margin is still applied below last line */
	margin-left:205px; /* Wrapping: Logo widths (45px + 159px) - item margin (35px) + (2 x 18px) */
	text-align:right;
	line-height:2;
}
.primary-nav > ul {
	margin:0;
	padding:0;
}
.primary-nav > ul > li {
	display:inline-block;
	list-style-type:none;
	margin:0 0 0 35px;
	padding:0;
}

.primary-main {
	max-width:980px;
	margin:18px auto;
	padding:0 18px;
}

.primary-footer-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-footer-wrapper:before,
.primary-footer-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-footer {
	max-width:980px;
	margin:18px auto;
	text-align:center;
	font-weight:bold;
}
.primary-footer > p {
	margin-top:0;
	margin-bottom:0;
}
.primary-footer-nav {
	margin-left:-18px;
	margin-right:-18px;
}
.primary-footer-nav > a {
	margin:0 18px;
}


a:link,
a:visited {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}
a:focus,
a:hover,
a:active {
	opacity:.8;
}

.primary-main a:link {
	font-weight:bold;
	text-decoration:none;
	color:#08c;
}
.primary-main a:visited {
	color:#80c;
}