html {
	margin:0;
	padding:0;
	background:#fff;
}
body {
	margin:0;
	padding:0;
	background:#eee;
	font-family:sans-serif;
	color:#333;
	line-height:1.5;
}

.primary-header-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-header-wrapper:before,
.primary-header-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-header {
	position:relative; /* Correctly position account links */
	max-width:980px;
	margin:18px auto;
}
.primary-logo {
	display:inline;
}
.primary-nav {
	display:inline;
}
.primary-nav > p {
	position:absolute;
	top:0;
	right:0;
	display:inline;
	margin:0;
	padding:0;
}
.primary-nav > ul {
	display:inline-block;
	margin:0;
	padding:0;
	text-align:right;
}
.primary-nav > ul > li {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}

.primary-main {
	max-width:980px;
	margin:18px auto;
	padding:0 18px;
}

.primary-footer-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-footer-wrapper:before,
.primary-footer-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-footer {
	max-width:980px;
	margin:18px auto;
	text-align:center;
	font-weight:bold;
}
.primary-footer > p {
	margin-top:0;
	margin-bottom:0;
}
.primary-footer-nav {
	margin-left:-18px;
	margin-right:-18px;
}
.primary-footer-nav > a {
	margin:0 18px;
}


a:link,
a:visited {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}
a:focus,
a:hover,
a:active {
	opacity:.8;
}

.primary-main a:link {
	font-weight:bold;
	text-decoration:none;
	color:#08c;
}
.primary-main a:visited {
	color:#80c;
}