html {
	margin:0;
	padding:0;
	background:#fff;
}
body {
	margin:0;
	padding:0;
	background:#eee;
	font-family:sans-serif;
	color:#333;
	line-height:1.5;
}

.primary-header-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-header-wrapper:before,
.primary-header-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-header {
	position:relative; /* Correctly position account links */
	max-width:980px;
	margin:18px auto;
	font-size:12px;
}
/* Clear floated logo/menu */
.primary-header:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
	clear:both;
}
.primary-nav-account > p {
	text-align:right;
	margin:0;
	padding:0;
}
.primary-nav-account > p > a > img {
	vertical-align:bottom;
}
.primary-logo {
	margin-top:-10px;
	float:left;
}
.primary-logo > img {
	vertical-align:bottom;
}
.primary-logo-name {
	float:left;
	margin-left:18px;
}
.primary-nav {
	position:relative;
	top:38px; /* Position top just below logo name - Logo name height (41px) - 3px */
	margin-top:-1em; /* Move up 1 character to line up bottom with bottom of logo name */
	padding-bottom:1em; /* Make up for the -1em top margin */
	margin-bottom:18px; /* Make sure 18px margin is still applied below last line */
	margin-left:205px; /* Wrapping: Logo widths (45px + 159px) - item margin (35px) + (2 x 18px) */
	text-align:right;
	line-height:2;
}
.primary-nav > ul {
	margin:0;
	padding:0;
}
.primary-nav > ul > li {
	display:inline-block;
	list-style-type:none;
	margin:0 0 0 35px;
	padding:0;
}

.primary-main {
	max-width:980px;
	margin:18px auto;
	padding:0 18px;
}

.primary-footer-wrapper {
	background:#fff;
	padding:0 18px;
}
/* Uncollapse margins */
.primary-footer-wrapper:before,
.primary-footer-wrapper:after {
	content:"\00a0";
	display:block;
	overflow:hidden;
	height:0;
}
.primary-footer {
	font-size:12px;
	max-width:980px;
	margin:18px auto;
	text-align:center;
	font-weight:bold;
}
.primary-footer > p {
	margin-top:0;
	margin-bottom:0;
}
.primary-social-follow-header {
	font-size:12px;
	text-transform:uppercase;
	margin:18px 0 8px;
}
.primary-social-follow > a {
	margin:0 8px;
}
.primary-footer-nav {
	margin-left:-18px;
	margin-right:-18px;
}
.primary-footer-nav > a {
	margin:0 18px;
}


a:link,
a:visited {
	color:inherit;
	font-weight:bold;
	text-decoration:none;
}



.snippet-wrapper-outer {
	background:#fff;
	margin:18px 0;
	border:1px solid #d6d6d6;
	position:relative;
}
.snippet-wrapper-outer:after {
	content:"\00a0";
	position:absolute;
	top:100%;
	left:18px;
	background:#fff;
	width:8px;
	height:8px;
	overflow:hidden;
	-webkit-transform-origin:1px 1px;
	-webkit-transform:skewY(-45deg);
	-ms-transform-origin:1px 1px;
	-ms-transform:skewY(-45deg);
	transform-origin:1px 1px;
	transform:skewY(-45deg);
	border-left:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
}
/* Prevent box-shadow overlay from .tags from breaking out over border */
.snippet-wrapper {
	overflow:hidden;
}
.snippet {
	border-spacing:18px;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
	display:table;
	table-layout:fixed;
	width:100%;
	
	position:relative;
	
	font-size:14px;
}
.snippet > aside {
	display:table-cell;
	vertical-align:top;
	width:250px;
}
.snippet > aside > a > img {
	vertical-align:bottom;
}
.snippet > aside > .social-share > a {
	display:block;
	float:left;
	margin:12px 12px 0 0;
}
.snippet > aside > .social-share > a > img {
	vertical-align:bottom;
}
.snippet > main {
	display:table-cell;
	vertical-align:top;
}
.snippet-header {
	line-height:1.5;
}
.snippet-header .tags {
	position:absolute;
	right:0;
	top:0;
	margin:0;
	padding:18px 18px 0 18px;
	list-style-type:none;
	text-align:right;
	line-height:2;
}
.snippet-header .tags:hover {
	bottom:0;
	background:#666;
	color:#fff;
	box-shadow:-500px 0 0 500px rgba(255, 255, 255, .8);
}
.snippet-header .tags li + li {
	display:none;
}
.snippet-header .tags:hover li + li {
	display:block;
}
.snippet-header .tags a {
	display:block;
	margin:0 -18px;
	padding:0 18px;
	color:#666;
	font-weight:normal;
}
.snippet-header .tags:hover a.tag {
	color:#fff;
}
.snippet-header a.tag:hover {
	background:#689804;
	opacity:1;
}
.snippet-header .snippet-type {
	margin:0;
	border-bottom-width:4px;
	border-bottom-style:solid;
	line-height:2;
}
.snippet-title {
	margin:0;
	padding:0;
	font-size:20px;
	line-height:2;
}
.snippet-by {
	margin:0;
	padding:0;
	color:#666;
}
.snippet-by > a {
	font-weight:normal;
}
.snippet-type > a {
	color:#666;
	font-weight:bold;
}
.snippet-snippet {
	margin:0;
	padding:0;
	color:#666;
}

.snippet.book-review .snippet-type {
	border-color:#a2c521;
}
.snippet.book-review .snippet-snippet a {
	color:#a2c521;
}
.snippet.book-review .tags:hover {
	background-color:#a2c521;
}


.layout-two-column {
	display:table;
	table-layout:fixed;
	border-spacing:18px 0;
	min-width:100%;
	margin:-18px;
}
.layout-two-column > main {
	display:table-cell;
	vertical-align:top;
}
.layout-two-column > aside {
	display:table-cell;
	vertical-align:top;
	width:304px;
}


.sidebar-widget {
	border:1px solid #d6d6d6;
	padding:1px;
	background:#fff;
	margin:18px 0;
	max-width:300px;
	overflow:hidden;
	text-align:center;
}
.sidebar-widget > iframe {
	display:block;
	margin:0 auto;
	max-width:100%;
	border:0;
}
.sidebar-widget > a > img {
	display:block;
	margin:0 auto;
	max-width:100%;
	border:0;
}